@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
#header, #footer {
  background:  whitesmoke;
  height: 5em;
  font-size: 10px;
  padding: 4px;
}

#header h1 {
  color: black;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100vW;
}

#display, form {
  padding: 20px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit], button {
  background-color: red;
  color: black;
  padding: 11px 40px;
  font-size: 14px;
}

.alert {
  padding: 20px;
  background-color: blue;
  color: aquamarine;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  color: blueviolet;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: greenyellow;
}